$color1: #198754;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    z-index: 1;
    position: fixed;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
    button {
        background-repeat: no-repeat;
        background-size: 71%;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        border: unset;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.256);
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin: 3vh;
        position: relative;
        pointer-events: auto;
        z-index: 1000;
    }
}
.headerLink {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: 0 16px;
}
.offcanvas {
    background-color: #2a2e33;
    hr {
        color: white;
    }
}
.offcanvas-header {
    .btn-close {
        background-color: rgba(255, 255, 255, 0.3);
    }
}
.offcanvas-body {
    display: flex;
    flex-direction: column;
    a {
        padding-bottom: 2vh;
    }
}

#root {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 38px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 18px;
}

a,
button,
img {
    user-select: none;
    -webkit-user-drag: none;
}

main {
    min-height: 88vh;
}

footer {
    background: #2e2e2e;
    color: white;
    min-height: 12vh;
    margin-top: auto;
    display: flex;
    align-items: center;
    .wrapper {
        text-align: center;
    }
}

.WelcomeHomeComponents {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-size: cover;
    color: white;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    > * {
        position: relative;
        z-index: 2;
    }

    .wrapper {
        p {
            font-size: 11px;
            letter-spacing: 3px;
            margin-bottom: 0;
            color: rgb(255, 217, 0);
            margin-left: 0.2rem;
            margin-bottom: 1vh;
        }
        h6 {
            opacity: 0.84;
            margin-top: 1vh;
            margin-bottom: 4vh;
        }
    }
}

.HomeAboutUsComponents {
    display: flex;
    justify-content: space-around;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        justify-content: center;
        h6 {
            opacity: 0.8;
        }
        img {
            height: 33vh;
        }
    }
}

.line {
    height: 280px;
    background-size: cover;
    background-image: url(./img/line);
    border-bottom: 8px solid $color1;
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }
    div {
        position: relative;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        h1 {
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
        }
        p {
            letter-spacing: 1px;
            font-size: 16px;
            line-height: 28px;
            width: 30%;
        }
    }
}
.InfoCardsHamePage {
    background-color: #17360d04;
    .wrapper {
        display: flex;
        justify-content: space-around;
        position: relative;
        grid-gap: 8%;
        .card {
            bottom: -2vh;
        }
        .card:nth-of-type(2) {
            bottom: 2vh;
        }
    }
}

.AuthFormPage {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        box-shadow: 0px 0px 8px 2px #0000004a;
        display: flex;
        max-width: 50vw;
        justify-content: space-between;
        align-items: center;
         > * {
            max-width: 50%;
            width: 100%;
        }
        form{
            padding: 2rem;
        }
        div:last-child{
            position: relative;
            background-size: cover;
            min-height: 55vh;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.637);
            }
        }
    }
}